@tailwind components;
@tailwind utilities;

.fill-parent-max-width {
  width: 100vw;
  max-width: fill-available;
  max-width: stretch;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}